<a href="https://colab.research.google.com/github/Th3nn3ss/Exploring_Ebay_Car_Sale_Dataset/blob/master/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploring Ebay Car Sales Data 
By Dennis Chukwunta

In this project we will work with a dataset of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website.

The dataset was originally scraped and uploaded to Kaggle. We've made a few modifications from the original dataset that was uploaded to Kaggle:

We sampled 50,000 data points from the full dataset, to ensure your code runs quickly in our hosted environment
We dirtied the dataset a bit to more closely resemble what you would expect from a scraped dataset (the version uploaded to Kaggle was cleaned to be easier to work with)
The data dictionary provided with data is as follows:
  * `dateCrawled` - When this ad was first crawled. All field-values
are taken from this date.
  * `name` - Name of the car.
  * `seller` - Whether the seller is private or a dealer.
  * `offerType` - The type of listing
  * `price` - The price on the ad to sell the car.
  * `abtest` - Whether the listing is included in an A/B test.
  * `vehicleType` - The vehicle Type.
  * `yearOfRegistration` - The year in which the car was first registered.
  * `gearbox` - The transmission type.
  * `powerPS` - The power of the car in PS.
  * `model` - The car model name.
  * `kilometer` - How many kilometers the car has driven.
  * `monthOfRegistration` - The month in which the car was first registered.
  * `fuelType` - What type of fuel the car uses.
  * `brand` - The brand of the car.
  * `notRepairedDamage` - If the car has a damage which is not yet repaired.
  * `dateCreated` - The date on which the eBay listing was created.
  * `nrOfPictures` - The number of pictures in the ad.
  * `postalCode` - The postal code for the location of the vehicle.
  * `lastSeenOnline` - When the crawler saw this ad last online.

The aim of this project is to clean the data and analyze the included used car listings. You'll also become familiar with some of the unique benefits jupyter notebook provides for pandas.

Let's start by importing the libraries we need and reading the dataset into pandas.

In [3]:
from google.colab import files
uploaded = files.upload()
# Since am using colab, this allows me to be able to upload my dataset from local disk

Saving autos.csv to autos.csv

In [5]:
import pandas as pd
import numpy as np

#we will read the csv file with the read_csv method in the pandas library
autos = pd.read_csv('autos.csv', encoding= 'Latin-1')

Trying to use the default `'UTF-8'` data encoding didn't work. So I tried the next most popular `Latin-1`.

Now, let's open the `autos` pandas dataframe and study it's content.

In [8]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [9]:
autos.head()

           dateCrawled  ...             lastSeen
0  2016-03-26 17:47:46  ...  2016-04-06 06:45:54
1  2016-04-04 13:38:56  ...  2016-04-06 14:45:08
2  2016-03-26 18:57:24  ...  2016-04-06 20:15:37
3  2016-03-12 16:58:10  ...  2016-03-15 03:16:28
4  2016-04-01 14:38:50  ...  2016-04-01 14:38:50

[5 rows x 20 columns]

There are 20 columns with 15 pandas objects (which are strings) and 5 int64 data types. The dataset is indexed from 0 to 4999 for a total of 5000 rows. 
The column names use camelcase instead of Python's preferred snakecase, which means we can't just replace spaces with underscores.

Let's convert the column names from camelcase to snakecase and reword some of the column names based on the data dictionary to be more descriptive.

In [10]:
# Print out an array of existing column names
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')


We'll make a few changes here:

  * Change the columns from camelcase to snakecase.
  * Change a few wordings to more accurately describe the columns.

In [12]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest', 'vehicle_type', 'year_of_registration', 'gear_box', 'power_ps', 'model', 'odometer', 'month_of_registration', 'fuel_type', 'brand', 'unrepaired_damage', 'date_created', 'num_of_photos', 'postal_code', 'last_seen']
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'year_of_registration', 'gear_box', 'power_ps', 'model',
       'odometer', 'month_of_registration', 'fuel_type', 'brand',
       'unrepaired_damage', 'date_created', 'num_of_photos', 'postal_code',
       'last_seen'],
      dtype='object')

In [14]:
autos.head()

          date_crawled  ...            last_seen
0  2016-03-26 17:47:46  ...  2016-04-06 06:45:54
1  2016-04-04 13:38:56  ...  2016-04-06 14:45:08
2  2016-03-26 18:57:24  ...  2016-04-06 20:15:37
3  2016-03-12 16:58:10  ...  2016-03-15 03:16:28
4  2016-04-01 14:38:50  ...  2016-04-01 14:38:50

[5 rows x 20 columns]

In [15]:
autos.describe(include='all') #Exploring the dataset even more

               date_crawled         name  ...   postal_code            last_seen
count                 50000        50000  ...  50000.000000                50000
unique                48213        38754  ...           NaN                39481
top     2016-04-04 16:40:33  Ford_Fiesta  ...           NaN  2016-04-07 06:17:27
freq                      3           78  ...           NaN                    8
mean                    NaN          NaN  ...  50813.627300                  NaN
std                     NaN          NaN  ...  25779.747957                  NaN
min                     NaN          NaN  ...   1067.000000                  NaN
25%                     NaN          NaN  ...  30451.000000                  NaN
50%                     NaN          NaN  ...  49577.000000                  NaN
75%                     NaN          NaN  ...  71540.000000                  NaN
max                     NaN          NaN  ...  99998.000000                  NaN

[11 rows x 20 columns]

In [16]:
autos['price'] #observation 2

0         $5,000
1         $8,500
2         $8,990
3         $4,350
4         $1,350
          ...
49995    $24,900
49996     $1,980
49997    $13,200
49998    $22,900
49999     $1,250
Name: price, Length: 50000, dtype: object

We can change this to a numeric data type and in other not to lose any valuable information we will rename the column from `price` to `dollar_price`.

In [17]:
autos['odometer'] #observation 3

0        150,000km
1        150,000km
2         70,000km
3         70,000km
4        150,000km
           ...
49995    100,000km
49996    150,000km
49997      5,000km
49998     40,000km
49999    150,000km
Name: odometer, Length: 50000, dtype: object

We can change this to a numeric data type and rename the column to `odometer_km`.

In [22]:
autos['price'] = autos['price'].str.replace('$', '') #removes the $ from the string
autos['price'] = autos['price'].str.replace(',','')  #removes the , from the string

In [24]:
autos['price']

0         5000
1         8500
2         8990
3         4350
4         1350
         ...
49995    24900
49996     1980
49997    13200
49998    22900
49999     1250
Name: price, Length: 50000, dtype: object

In [25]:
#Next we convert the object type to integer
autos['price'] = autos['price'].astype(int)

In [26]:
autos['price'].dtype  #to check

dtype('int64')

In [27]:
autos.rename({'price': 'dollar_price'}, axis= 1, inplace=True) #to rename the price column to reflect the currency.

In [29]:
autos['dollar_price']

0         5000
1         8500
2         8990
3         4350
4         1350
         ...
49995    24900
49996     1980
49997    13200
49998    22900
49999     1250
Name: dollar_price, Length: 50000, dtype: int64

In [31]:
#we repeat the same process for the odometer column
autos['odometer'] = (autos['odometer'].str.replace('km', '').str.replace(',', '').astype(int))

In [32]:
autos.rename({'odometer': 'odometer_km'}, axis= 1, inplace= True)

In [33]:
autos['odometer_km']

0        150000
1        150000
2         70000
3         70000
4        150000
          ...
49995    100000
49996    150000
49997      5000
49998     40000
49999    150000
Name: odometer_km, Length: 50000, dtype: int64

**Let's Explore the data further**

In [36]:
autos.describe(include= 'all')

               date_crawled         name  ...   postal_code            last_seen
count                 50000        50000  ...  50000.000000                50000
unique                48213        38754  ...           NaN                39481
top     2016-04-04 16:40:33  Ford_Fiesta  ...           NaN  2016-04-07 06:17:27
freq                      3           78  ...           NaN                    8
mean                    NaN          NaN  ...  50813.627300                  NaN
std                     NaN          NaN  ...  25779.747957                  NaN
min                     NaN          NaN  ...   1067.000000                  NaN
25%                     NaN          NaN  ...  30451.000000                  NaN
50%                     NaN          NaN  ...  49577.000000                  NaN
75%                     NaN          NaN  ...  71540.000000                  NaN
max                     NaN          NaN  ...  99998.000000                  NaN

[11 rows x 20 columns]

A number of columns have almost identical values. (`seller` and `offer_type` )

The `num_of_photos` has every mathmatical operation equal to `0.0`. Meaning all the values are equal to zero.

In [37]:
# We will drop this three columns
autos = autos.drop(['num_of_photos', 'seller', 'offer_type'], axis= 1)

In [38]:
autos.describe(include= 'all')

               date_crawled         name  ...   postal_code            last_seen
count                 50000        50000  ...  50000.000000                50000
unique                48213        38754  ...           NaN                39481
top     2016-04-04 16:40:33  Ford_Fiesta  ...           NaN  2016-04-07 06:17:27
freq                      3           78  ...           NaN                    8
mean                    NaN          NaN  ...  50813.627300                  NaN
std                     NaN          NaN  ...  25779.747957                  NaN
min                     NaN          NaN  ...   1067.000000                  NaN
25%                     NaN          NaN  ...  30451.000000                  NaN
50%                     NaN          NaN  ...  49577.000000                  NaN
75%                     NaN          NaN  ...  71540.000000                  NaN
max                     NaN          NaN  ...  99998.000000                  NaN

[11 rows x 17 columns]

..................................Explore further.

In [40]:
autos['dollar_price'].unique().shape # to see how many unique prices

(2357,)

In [41]:
autos['dollar_price'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: dollar_price, dtype: float64

In [42]:
autos['dollar_price'].value_counts().head(10)

0       1421
500      781
1500     734
2500     643
1000     639
1200     639
600      531
800      498
3500     498
2000     460
Name: dollar_price, dtype: int64

In [46]:
autos['dollar_price'].value_counts().sort_index(ascending= False).head(20)
# display the count of the first 20 values in decending order

350000    1
345000    1
299000    1
295000    1
265000    1
259000    1
250000    1
220000    1
198000    1
197000    1
194000    1
190000    1
180000    1
175000    1
169999    1
169000    1
163991    1
163500    1
155000    1
151990    1
Name: dollar_price, dtype: int64

In [47]:
autos['dollar_price'].value_counts().sort_index(ascending= True).head(20)
#display in ascending order

1     156
2       3
3       1
5       2
8       1
9       1
10      7
11      2
12      3
13      2
14      1
15      2
17      3
18      1
20      4
25      5
29      1
30      7
35      1
40      6
Name: dollar_price, dtype: int64

In [45]:

autos = autos[autos['dollar_price'].between(1,351000)]
autos['dollar_price'].describe()

count     48565.000000
mean       5888.935591
std        9059.854754
min           1.000000
25%        1200.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: dollar_price, dtype: float64