<a href="https://colab.research.google.com/github/Th3nn3ss/Exploring_Ebay_Car_Sale_Dataset/blob/master/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploring Ebay Car Sales Data 
By Dennis Chukwunta

In this project we will work with a dataset of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website.

The dataset was originally scraped and uploaded to Kaggle. We've made a few modifications from the original dataset that was uploaded to Kaggle:

We sampled 50,000 data points from the full dataset, to ensure your code runs quickly in our hosted environment
We dirtied the dataset a bit to more closely resemble what you would expect from a scraped dataset (the version uploaded to Kaggle was cleaned to be easier to work with)
The data dictionary provided with data is as follows:
  * `dateCrawled` - When this ad was first crawled. All field-values
are taken from this date.
  * `name` - Name of the car.
  * `seller` - Whether the seller is private or a dealer.
  * `offerType` - The type of listing
  * `price` - The price on the ad to sell the car.
  * `abtest` - Whether the listing is included in an A/B test.
  * `vehicleType` - The vehicle Type.
  * `yearOfRegistration` - The year in which the car was first registered.
  * `gearbox` - The transmission type.
  * `powerPS` - The power of the car in PS.
  * `model` - The car model name.
  * `kilometer` - How many kilometers the car has driven.
  * `monthOfRegistration` - The month in which the car was first registered.
  * `fuelType` - What type of fuel the car uses.
  * `brand` - The brand of the car.
  * `notRepairedDamage` - If the car has a damage which is not yet repaired.
  * `dateCreated` - The date on which the eBay listing was created.
  * `nrOfPictures` - The number of pictures in the ad.
  * `postalCode` - The postal code for the location of the vehicle.
  * `lastSeenOnline` - When the crawler saw this ad last online.

The aim of this project is to clean the data and analyze the included used car listings. You'll also become familiar with some of the unique benefits jupyter notebook provides for pandas.

Let's start by importing the libraries we need and reading the dataset into pandas.

In [3]:
from google.colab import files
uploaded = files.upload()
# Since am using colab, this allows me to be able to upload my dataset from local disk

Saving autos.csv to autos.csv

In [5]:
import pandas as pd
import numpy as np

#we will read the csv file with the read_csv method in the pandas library
autos = pd.read_csv('autos.csv', encoding= 'Latin-1')

Trying to use the default `'UTF-8'` data encoding didn't work. So I tried the next most popular `Latin-1`.

Now, let's open the `autos` pandas dataframe and study it's content.

In [6]:
autos

               dateCrawled  ...             lastSeen
0      2016-03-26 17:47:46  ...  2016-04-06 06:45:54
1      2016-04-04 13:38:56  ...  2016-04-06 14:45:08
2      2016-03-26 18:57:24  ...  2016-04-06 20:15:37
3      2016-03-12 16:58:10  ...  2016-03-15 03:16:28
4      2016-04-01 14:38:50  ...  2016-04-01 14:38:50
...                    ...  ...                  ...
49995  2016-03-27 14:38:19  ...  2016-04-01 13:47:40
49996  2016-03-28 10:50:25  ...  2016-04-02 14:18:02
49997  2016-04-02 14:44:48  ...  2016-04-04 11:47:27
49998  2016-03-08 19:25:42  ...  2016-04-05 16:45:07
49999  2016-03-14 00:42:12  ...  2016-04-06 21:18:48

[50000 rows x 20 columns]